
<article class="post">
  <section class='post-head'>
    <h2><%= link_to movie.name, movie_path(movie) %> </h2>
    <small>
		<time><%= movie.created_at.to_date.strftime("%d %B, %Y") %></time>
		|
		<%= link_to 'Змінити', edit_movie_path(movie)%>
		|
		<%= link_to 'Видалити', movie, method: :delete, data: { confirm: 'Are you sure?' } %>   
	 </small>
  </section>
    
  <section class='post-summury clearfix'>
    <%= image_tag movie.image.url(:thumb), class: 'img-thumbnail thumb' if movie.image? %>
	<%= movie.description %>
  </section>
</article> 


<%# 
<section id='categories'>
	<table class="table">
		<thead >
				<tr>
					<th>#</th>
					<th>date</th>
					<th>фільм</th>
					<th>опис</th>
				</tr>
		</thead>
		<tbody>
				<tr>
					<td><%= image_tag movie.image.url(:thumb), class: 'img-thumbnail thumb' if movie.image? %></td>
				  <%# <td><time><%= movie.created_at.to_date.strftime("%d %B, %Y") %></time> 
					<%# |
					 <%= link_to 'Видалити', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
					<%# |
					<%= link_to 'Видалити', movie, method: :delete, data: { confirm: 'Are you sure?' } %>   
					<%# </td>
					<td><%= link_to movie.name, movie_path(movie) %> </td>
					<%# <td><%= movie.description %></td>
				</tr>
<%# 				
		</tbody>
	</table>	
</section>  %>


