<article class="post lin nan">
  <section class='post-head'>
     
    <h1 ><%= link_to movie.name, movie_path(movie) %> </h1>
    <small>
		<h4><time><%= movie.created_at.to_date.strftime("%d %B, %Y") %></time>
		<% if movie.category.present? %>
		|
		  <%= link_to movie.category.name, movie.category %> 
		 <% end %> 
		|
		<%= link_to 'Змінити', edit_movie_path(movie) %>
		|
		<%= link_to 'Видалити', movie, method: :delete, data: { confirm: 'Are you sure?' } %>   
	 </h4>
	 </small>
  </section>
    
  <section class='post-summury clearfix'>
    <%= image_tag movie.image.url(:thumb), class: 'img-thumbnail thumb' if movie.image? %>
	<%= movie.description %>
  </section>
</article> 




