<%# <div class="row">
  <div class="col-md-4">
    <%= image_tag @movie.image.url(:large), class: 'img-show' if @movie.image? %>
  <%# </div>
  <div class="col-md-8">
    <h2><%= @movie.name %> </h2>
		<%# <time><%= @movie.created_at.to_date.strftime("%d %B, %Y") %></time><br>  
  	<%# <%= @movie.description %>
  <%# </div>
</div>
  <%= link_to 'Назад', movies_path, class:"btn btn-outline-primary" %> 
  <%# <%= link_to 'Змінити', edit_movie_path(@movie), class:"btn btn-outline-success" %> 
  <%# <%= link_to 'Видалити', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %> 
 


<article class="post">
  <section class='post-head'>
    <h2><%= @movie.name %> </h2>
    <small>
		<time><%= @movie.created_at.to_date.strftime("%d %B, %Y") %></time>
    <%= link_to 'Назад', movies_path, class:"btn btn-outline-primary" %> 
		<%= link_to 'Змінити', edit_movie_path(@movie), class:"btn btn-outline-success" %>
		<%= link_to 'Видалити', @movie, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>   
	 </small>
  </section>
    
  <section class='post-body'>
  <br>
  <%= image_tag @movie.image.url(:large), class: 'img-show' if @movie.image? %>
	<%= @movie.description %>
  </section>
</article>
