<div class="card">
  <div class="card-body">
    <%= form_for @news, html: { multipart: true } do |form| %>
     <% if news.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>
       <ul>
         <% news.errors.each do |error| %>
           <li><%= error.full_message %></li>
         <% end %>
       </ul>
     </div>
    <% end %>

  <div class='form-group'>
    <%= form.label :name %>
    <%= form.text_field :name, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :description %>
    <%= form.text_area :description, class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= form.label :author %>
    <%= form.text_field :author, class:'form-control' %>
  </div>
  |
  <div class='form-group'>
		<%= form.file_field :image %>
  </div>

  <div class='form-group'>
    <%= form.submit class:"btn btn-warning" %>
  </div>
<% end %>

  </div>
</div>