<div class="row nan">
    <div class="col-md-4">
      <img <%= image_tag @news.image.url(:large), class: 'img-show' if @news.image? %>>
    </div>
   
   <div class="col-md-8">
     <h1><%= @news.name %> </h1>
  	  <%= @news.description %>
   </div>
   </div>

<div>
  <%= link_to 'Back', news_index_path, class:"btn btn-primary" %> 
  <%= link_to 'Edit', edit_news_path(@news), class:"btn btn-success" %> 
  <%= link_to 'Destroy', @news, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></small></p>
</div>
