<div class='nan'>

<h1>Category</h1>
<div class="buttons_panel">
	<%= link_to "Нова категорія", new_category_path, class: 'btn btn-outline-primary btn-sm' %>
</div>   

<section id='categories'>
	<table class="table nan">
		<thead >
				<tr>
					<th>#</th>
					<th>Назва</th>
					<th>Батьківська категорія</th> %>
				</tr>
		</thead>
		<tbody>
			<% @categories.each_with_index do |category, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= category.name %></td>
					<td><%= category.parent.name if category.parent.present? %></td>  
					<td>
					  <%= link_to "Змінити", edit_category_path(category), class: 'btn btn-outline-primary btn-sm' %>
					  <%= link_to 'Destroy', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></small></p>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>	
</section>
</div>   
