<div class="review-rating" data-score="<%= review.rating %>"></div> %>
   <%# <p><%= review.rating %></p> 
   <p><%= review.comment %></p>


<% if user_signed_in?%>
  
   <% if review.user_id == current_user.id %>
  
     <%= link_to 'Edit', edit_movie_review_path(review.movie, review), class:"btn btn-outline-primary" %> 
     <%= link_to 'Delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %> 
  
   <% end %>

<% end %>

