<h1>Редагувати</h1>
 
<%= form_for ([@movie,@review]) do |f| %>

    <div class='form-group'>
		<%= f.label :rating %>
		<%= f.text_field :rating, class: 'form-control' %>
	</div>
	
	<div class='form-group'>
		<%= f.label :comment %>
		<%= f.text_area :comment, class: 'form-control' %><br>
	</div>

	<div class='form-group'>
		<%= f.submit 'Зберегти', class: 'btn btn-primary' %>
		<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>  

	</div>

<% end %>


