


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="btn btn-warning">IMDb</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
					<%= link_to 'NEWS', news_index_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Movies', movies_path, class:"nav-link" %>
        </li>
         <li class="nav-item">
          <% if user_signed_in? %>
          <%= link_to 'Category', categories_path, class:"nav-link" %>
                  <% end %>

        </li>
        <li class="nav-item dropdown">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <% if user_signed_in? %>
        <%= link_to 'Вихід', destroy_user_session_path, method: :delete, class: "btn btn-outline-success"%>
        <%else%>

      <form class="d-flex">
        <%# <button class="btn btn-outline-success" type="submit">Log in</button> %>
        <%= link_to 'створити ак', new_user_registration_path, class: "btn btn-outline-success"%>
        |
        <%= link_to 'вхід', new_user_session_path, class: "btn btn-outline-success"%>
        <%# <button class="btn btn-outline-success" type="submit">Sign in</button> %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
